* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

main {
  height: 100vh;
  position: relative;
}

/* MIX */

.bck_col_grey {
  background-color: #e9ebeb;
}

.bck_col_white {
  background-color: #fff;
}

/* COLORI di sfondo */

.top {
  background-color: #009688;
  height: 15%;
}

.bottom {
  background-color: #dadbd3;
  height: 85%;
}

/* Contenitore generale */

.wrap_general {
  display: flex;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translatex(-50%);
  width: 80%;
  max-width: 1370px;
  min-width: 600px;
  height: calc(100vh - 6%);
  background-color: #fff;
  border: 1px darkgrey solid;
  /* z-index: 10; */
}

/* SIDE SX */

.sideSX {
  width: 400px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #d6d6d6;
  overflow: hidden;
}

/* zona TOP della parte sinistra */

.sideSX_top {
  display: flex;
  justify-content: space-between;
  background-color: #eaeaea;
  height: 50px;
  min-width: 300px;
  padding: 7px;
}

.sideSX_top_avatar {
  height: 100%;
  border-radius: 50%;
}

.sideSX_top_console, .sideDX_top_console {
  display: flex;
  align-items: center;
}

.sideSX_top_console i, .sideDX_top_console i {
  color: #b1b1b1;
  margin: 0 7px;
}

/* zona NOTIFICHE della parte sinistra */

.sideSX_notifiche {
  display: flex;
  align-items: center;
  background-color: #8edafc;
  height: 70px;
}

.sideSX_notifiche .wrap_ico_no_sound {
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  margin-left: 15px;
  font-size: 16px;
  color: #8edafc;
}

.sideSX_notifiche .wrap_titoli_notifiche a {
  color: #537b8d;
  font-weight: 300;
}

.sideSX_notifiche .wrap_titoli_notifiche {
  margin-left: 10px;
}

/* zona CERCA della parte sinistra */

.sideSX_cerca {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  height: 45px;
}

.sideSX_cerca .wrap_ico_cerca i {
  font-size: 16px;
  color: #b1b1b1;
}

.sideSX_cerca .wrap_ico_cerca {
  margin-left: 7px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  width: 60px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
}

.sideSX_cerca .input_cerca {
  height: 31px;
  width: calc(100% - 74px);
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  border-left: 0px solid #f5f5f5;
  padding-left: 10px;
}

.sideSX_cerca .input_cerca::placeholder {
  color: #ababab;
  font-weight: 600;
  font-size: 10px;
}

/* zona elenco CHAT della parte sinistra */

.sideSX_chat {
  width: 100%;
  height: calc(100% - 165px);
  overflow-y: scroll;
}

.chat {
  display: flex;
  position: relative;
  align-items: center;
  /* display: none; */
  height: 70px;
  padding: 7px;
  border-bottom: 1px solid #f5f5f5;
}

.chat_hide {
  display: none;
}

.contatto_avatar {
  height: 100%;
  border-radius: 50%;
}

.sideSX_chat .wrap_testi_chat {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}

.sideSX_chat .wrap_testi_chat .nome {
  color: #000;
  font-weight: 700;
  margin-bottom: 7px;
}

.sideSX_chat .wrap_testi_chat .messaggio {
  color: #c9cbcd;
  font-size: 10px;
  font-weight: 700;
}

.sideSX_chat .ora_messaggio {
  color: #c9cbcd;
  font-size: 10px;
  align-self: flex-start;
  margin-top: 10px;
}

/* SIDE DX */

.sideDX {
  width: calc(100% - 400px);
  height: 100%;
}

/* zona TOP della parte destra */

.sideDX_top {
  display: flex;
  justify-content: space-between;
  background-color: #eaeaea;
  height: 50px;
  padding: 7px;
}

.wrap_utente {
  display: flex;
  align-items: center;
}

.accesso_chat {
  color: #ababab;
}

.sideDX_top_avatar {
  height: 100%;
  border-radius: 50%;
  margin-right: 10px;
}

/* CHAT - zona MAIN della parte destra */

.sideDX_main {
  height: calc(100% - 100px);
  overflow-y: scroll;
  background-image: url("../img/mine.jpg");
}


.sideDX_main {
  padding-top: 50px;
}

.sideDX .wrap_messaggio {
  padding: 5px 100px 5px 100px;
  display: flex;
}

.sideDX .messaggio {
  display: flex;
  max-width: 300px;
  border-radius: 10px;
}

.sideDX .messaggio .text_messaggio {
  font-size: 12px;
  padding: 15px 5px 15px 15px;
  font-weight: bold;
}

.sideDX .messaggio .ora_messaggio {
  font-size: 8px;
  font-weight: 300;
  color: #cccccc;
  padding: 0 5px 5px 0px;
  align-self: flex-end;
}

.template {
  display: none;
}

.msg_ext {
  justify-content: flex-start;
}

.msg_int {
  justify-content: flex-end;
}

.msg_int .messaggio {
  background-color: #d5f9ba; */
}

.msg_ext .messaggio {
  background-color: #fff; */
}

/* zona BOTTOM della parte destra */

.sideDX_bottom{
  display: flex;
  align-items: center;
  background-color: #f3eeea;
  height: 50px;
}

/* icone smile e invia */
.wrap_smile, .wrap_send {
  width: 70px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.sideDX_bottom i {
 color: #6b7376;
 font-size: 18px;
}

.send_message:hover {
  cursor: pointer;
}

/* input testo nuovo messaggio */
.input_messaggio_new {
  width: calc(100% - 120px);
  height: 36px;
  border: 1px solid #f5f5f5;
  padding-left: 10px;
  border-radius: 5px;
}

.input_messaggio_new::placeholder {
  font-size: 10px;
  color: #a2a2a2;
}


/* MEDIA QUERY SM */

@media screen and (max-width: 991px) {

  .sideSX {
    width: 300px;
  }

  .sideDX {
    width: calc(100% - 300px);
  }

  .sideDX .wrap_messaggio {
    padding: 5px 20px 5px 20px;
    display: flex;
  }
}
