* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

.template {
  display: none;
}

main {
  height: 100vh;
  position: relative;
}

.top {
  background-color: #009688;
  height: 15%;
}

.bottom {
  background-color: #dadbd3;
  height: 85%;
}

.wrap_general {
  display: flex;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translatex(-50%);
  width: 80%;
  max-width: 1200px;
  height: calc(100vh - 6%);
  background-color: #fff;
  border: 1px darkgrey solid;
  /* z-index: 10; */
}

.sideSX {
  width: 35%;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #d6d6d6;
}

.sideSX_notifiche {
  background-color: #8edafc;
  height: 60px;
}

.sideSX_cerca {
  background-color: #fafafa;
  height: 45px;
}


.sideDX {
  width: 65%;
  height: 100%;
  background-image: url("../img/mine.jpg");
  /* background-color: yellow; */
}

.sideSX_top, .sideDX_top{
  background-color: #eaeaea;
  height: 50px;
}

.sideDX_main {
  height: calc(100% - 100px);
}

.sideDX_bottom{
  background-color: #f3eeea;
  height: 50px;
}
